.news_container{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)), url(../image/flight.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(70%); */
    color: #fff;
    overflow: hidden;
}

.news_details{
    width: 50%;
    margin: 100px 10px;
    /* background-color: chocolate; */
    float: right;
}


.news_details h1{
    font-size: 1.8rem;
}

.news_details h4{
    margin-top: 15px;
    font-size: 1.2rem;
}

.email_input{
    /* width: 550px; */
    margin: 20px 0;
    border-radius: 5px;
    width: 90%;
}

::placeholder{
    padding-left: 10px;
}

.acceptbox{
    display: flex;
    align-items: center;
}

.acceptbox input{
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.acceptbox p{
    text-transform: none;
    font-size: 1.12rem;
    padding-top: 15px;
    margin-left: 10px;
}

.acceptbox p a{
    text-transform: none;
    text-decoration: underline;
}

.details_btn{
    margin-top: 35px;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background: transparent;
    border: 2px ridge #fff;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .news_details{
        width: 100%;
        float: none;
        padding: 0 50px;
    }
}

@media screen and (max-width: 500px) {
    .news_details{
        padding: 0 20px;
    }
}