.flight_box{
    width: 90%;
    height: 300px;
    background: #003049;
    margin: -100px auto 50px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217, 213, 213);
}

.flight_header{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.flight_header > div{
    background-color: #d4d4d4;
    text-align: center;
    padding: 15px 0;
    border: 1px solid #222;
}

.flight_header > div:first-child{
    border-top-left-radius: 20px;
}

.flight_header > div:last-child{
    border-top-right-radius: 20px;
}

.flight_items h1{
    font-size: 1.3rem;
    color: #222;
    text-transform: capitalize;
    text-align: center;
}


/***** Flight Enquires Section *****/

.flight_enquires{
    display: flex;
    margin: 10px 0 0 80px;
}

.flight_enquires h2{
    margin-left: 8px;
    font-size: 1.3rem;
    color: #fff;
}

.head, .trip_head{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown{
    color: #fff;
    font-size: 2rem;
}

.class_section, .class, .people_section{
    background-color: #ded8d8;
    border-radius: 10px;
    display: none;
}

.economy_section{
    position: relative;
}

.class span{
    display: block;
    font-size: 1rem;
    /* width: 150px; */
    padding: 10px;
    color: #000;
}

.passengers{
    margin-left: 25px;
}

.people_section{
    padding: 5px;
}

.people{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

h3{
    font-size: 1.1rem;
}

.people h3 span{
    display: block;
    font-size: .7rem;
    color: #616161;
}

.people p{
    margin-left: 35px;
}

.people p span{
    margin-left: 15px;
    font-size: 1.1rem;
    color: #000;
}

.people p span:first-child, .people p span:last-child{
  cursor: pointer;
  font-size: 1.5rem;
}

.people_btn{
    margin: 30px;
}

.btn, .show_flight .btn{
    margin: 0 10px;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: .9rem;
    font-family: 'poppins';
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #003049;
    transition: .8s;
    cursor: pointer;
}

.btn1, .btn2:hover{
    background: transparent;
    color: #003049;
}

.btn2, .btn1:hover{
    color: #fff;
    background: #074e74;
}


/***** Departure Section *****/

.departure_section{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 50px;
    border: none;
    outline: none;
}

::placeholder{
    font-size: .9rem;
}

.from_to, .trip_section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.from_to input{
    border-radius: 5px;
    margin: 0 3px;
}

.input_box{
    position: relative;
}

.input_box input{
    width: 250px;

}

.input_icon{
    position: absolute;
    margin-left: 18px;
    font-size: 1.3rem;
    color: #222;
    top: 50%;
    transform: translateY(-50%);
}

.inp{
    padding-left: 40px;
}

.arrows{
    position: relative;
    font-size: 1.6rem;
    margin: 0 -10px;
    color: #fff;
    background: #074e74;
    border-radius: 5px;
    z-index: 1;
}



/* Trip Section */

.trip{
    position: relative;
    margin-left: 10px;
}

.trip_options{
    display: flex;
}

.trip_head{
    height: 50px;
    padding: 0 15px;
    background-color: #181717;   
    border: 1px solid #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.trip_head h2{
    color: #fff;
    font-size: 1.1rem;
    margin-left: 15px;
}

.trip_options input{
    margin: 0 10px;
}

.trip_head .dropdown{
    color: #fff;
    font-size: 1.5rem;
}

.trip_form{
    display: none;
}



/**** Calender Section ****/

.trip_depart{
    display: flex;
    margin: 30px 0;
}

/* .trip_depart input{
    margin: 0 5px;
} */

input[type="date"]{
    background: #181717;
    color: #fff;
    border: 1px solid;
    padding: 15px;
    cursor: pointer;
}

input[type="date"]:first-child{
    border-right: none;   
}

input[type="date"]:last-child{
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    padding: 5px;
    border: 1px solid #c7bdbd;
    border-radius: 3px;
    filter: invert(1);
}


/* Show Flight */
.show_flight{
    display: flex;
    align-items: center;
    float: right;
    margin: 15px;
}

.promo_box{
    display: flex;
    margin: 0 15px;
    color: #fff;
}

.promo_box .plus_icon{
    font-size: 1.1rem;
    border-radius: 5px;
}

.promo_box p{
    font-size: 1.2rem;
    margin-left: 5px;
}

.show_flight .btn{
    color: #074e74;
}

.show_flight .btn:hover{
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}


@media only screen and (max-width: 992px) {
    .flight_enquires{
        display: flex;
        margin: 10px 0 30px 70px;
    }

    .departure_section{
        display: block;
    }

    .flight_box{
        background: #2a8abe;
        height: 350px;
    }  
    
    .trip_section{
        margin-top: 20px;
    }  

    .trip_depart{
        margin: 0;
    }

    .show_flight{
        margin: 50px 15px;
    }
}

@media only screen and (max-width: 450px){

    .flight_box{
        width: 95%;
    }  
    
    .trip{
        /* position: relative; */
        margin-left: 0px;
    }

    .flight_enquires{
        margin: 5px 10px;
    }

    .departure_section{
        padding: 5px 50px;
    }

    .from_to{
        display: block;
        /* margin: 0 50px; */
    }

    /* .trip_section{
        margin: 0 50px;
    } */
    
input{
    height: 40px;
}


.input_box input{
    width: 80%;
}

.input_icon{
    margin-left: 15px;
}

.inp{
    padding-left: 30px;
}

.arrows{
    font-size: 1.5rem;
    margin: -5px 50%;
    transform: rotate(90deg);
}

/* Trip Section */
.trip_head{
    height: 40px;
}
   
}