.extra_section{
    padding: 30px 0;
    text-align: center;
}

.extras_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.extras{
    width: 150px;
    padding: 25px 0;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #e6e1cc;
    /* border: 1px solid #000; */
    transition: .3s;
}

.extras:hover{
    box-shadow: 2px 3px 5px #000000;
    transform: translateY(-3px);
}

h3{
    margin-top: 8px;
    font-size: 1.1rem;
    color: #222;
}

.icon{
    font-size: 2rem;
}