.flightdeal_section{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0,.3)), url(../image/map.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.flightdeal_header{
    color: #222;
    text-align: center;
}

.deals{
    display: grid;
    width: 50%;
    margin: 50px;
    grid-gap: 10px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
.item2 {
    grid-column: 1;
    grid-row: 2 ;
}
  
.item3 {
    grid-column: 2;
    grid-row: 2 ;
}
  
.item4 {
    grid-column: 1;
    grid-row: 3 ;
}
  
.item5 {
    grid-column: 2;
    grid-row: 3;
}

img{
    width: 100%; 
    filter: brightness(40%);
}

.deal_box{
    display: flex;
    color: aliceblue;
}

.deal_box .image1,
.deal_box .image1 img{
    height: 100%;
}

.deal_box .image1 img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.deal_box .image1, .deal_box .details{
    width: 50%;    
}

.deal_box .details{
    height: 100%;
    line-height: 1.7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    background: blue;
    padding: 50px;
}

.deal_boxes{
    position: relative;
}

.deal_boxes .image img{
    border-radius: 10px;
}

.image{
    position: relative;
    width: 100%;
}

.deal_boxes .details{
    position: absolute;
    text-transform: uppercase;
    top: 0;
    margin: 15px 30px 30px;
    line-height: 1.7;
    color: #fff;
}

.deal_boxes .details .places, .deal_box .details .places {
    display: flex;
}

.details h2{
    font-size: 1.2rem;
    margin-left: 5px;
}

.details p{
    text-transform: capitalize;
    margin-top: 40px;
    font-size: 1.5rem;
}

.plane{
    margin-top: 5px;
    font-size: 1.3rem;
}

.plane_up{
    transform: rotate(45deg);
}

.plane_down{
    transform: rotate(225deg);
}


@media screen and (max-width: 1024px){
    .deals{
        width: 60%;
        margin: 50px auto;
    }

    .details h2{
        font-size: 1rem;
    }
    
    .details p{
        font-size: 1rem;
    }

}

@media screen and (max-width: 780px){
    .deals{
        display: block;
        padding: 50px 0;
    }

    .deal_box, .deal_boxes{
        margin: 20px 0;
    }

    .deal_box .image1 img{
       border-radius: 10px;
    }

    .deal_box .image1{
        width: 100%;    
    }
    
    .deal_box .details{
        position: absolute;
        background: none;
        line-height: 2;
    }   

    .deal_boxes .details{
        margin: 50px;
        line-height: 2;
    }

    .details h2, .details p{
        font-size: 1.3rem;
    }
    
    .details p{
        margin-top: 60px;
    }

    .plane{
        font-size: 1.5rem;
        margin-top: 8px;
    }
}

@media screen and (max-width: 651px){
    .deals{
        padding: 30px 0;
    }

    .deal_box, .deal_boxes{
        margin: 10px 0;
    }

    .deal_box .details{
        padding: 20px 50px;
    }   

    .deal_boxes .details{
        margin: 20px 50px;
    }

}

@media screen and (max-width: 572px){
    .deal_box .details, .deal_boxes .details{
        line-height: 1.7;
    }

    .deal_box .details{
        padding: 20px;
    }   

    .deal_boxes .details{
        margin: 20px;
    }

    .details h2, .details p{
        font-size: .9rem;
    }
    
    .details p{
        margin-top: 40px;
    }

    .plane{
        font-size: 1rem;
        margin-top: 4px;
    }
}

@media screen and (max-width: 425px) {
    .flightdeal_header h1{
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 340px){
    .deals{
        padding: 10px 0;
    }

    .details h2, .details p{
        font-size: .6rem;
    }
    
    .details p{
        margin-top: 30px;
    }

    .plane{
        margin-top: 0px;
    }
}