.flightdeal_section{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0,0,0,.3)), url(../image/map.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.flightdeal_header{
    margin-left: 30px;
    text-align: center;
}

.flightdeal_header h1{
    color: #222;
}

.deals{
    display: grid;
    width: 50%;
    margin: 50px;
    grid-gap: 10px;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}
  
.item2 {
    grid-column: 1;
    grid-row: 2 ;
}
  
.item3 {
    grid-column: 2;
    grid-row: 2 ;
}
  
.item4 {
    grid-column: 1;
    grid-row: 3 ;
}
  
.item5 {
    grid-column: 2;
    grid-row: 3;
}

img{
    width: 100%; 
    filter: brightness(40%);
}

.deal_box{
    display: flex;
    align-items: center;
    color: aliceblue;
}

.deal_box .image1,
.deal_box .image1 img{
    height: 100%;
}

.deal_box .image1 img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.deal_box .image1{
    width: 50%;    
}

.deal_box .details{
    width: 50%; 
    height: 100%;
    line-height: 1.5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
    background: blue;
    padding: 50px;
}

.deal_boxes{
    position: relative;
}

.deal_boxes .image img{
    border-radius: 10px;
}

.image{
    position: relative;
    width: 100%;
    /* height: 100px; */
}

.deal_boxes .details{
    position: absolute;
    text-transform: uppercase;
    top: 0;
    margin: 30px 20px;
    line-height: 1.5;
    color: #fff;
}

.details h2{
    font-size: 1.2rem;
}

.details p{
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 1.5rem;
}

.plane{
    font-size: 1.2rem;
}

.plane_up{
    transform: rotate(310deg);
}

.plane_down{
    transform: rotate(130deg);
}



@media screen and (max-width: 1024px){
    .deals{
        width: 60%;
        margin: 50px auto;
    }

    .details h2{
        font-size: 1rem;
    }
    
    .details p{
        font-size: 1rem;
    }

}

@media screen and (max-width: 650px){
    .deals{
        display: block;
    }

    .details h2{
        font-size: 1rem;
    }
    
    .details p{
        font-size: 1rem;
    }
}