*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.logo{
  font-size: 1.7rem;
  font-style: italic;
}

ul{
  display: flex;
}

ul li{
  text-transform: capitalize;
  list-style: none;
  margin: 5px 20px;
  font-size: 1.5rem;
}

.auth{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.auth a{
  font-size: 1.25rem;
  margin: 5px;
}
 
span{
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}

.hero_container{
  width: 100%;
  background-image: url(image/hero-bck.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title{
  text-align: center;
  color: palevioletred;
}

.hero_container img{
  width: 100%;
  height: 100%;
}