.extra_section{
    padding: 30px 0;
    text-align: center;
    color: #222;
}

.extras_items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

.extras{
    width: 150px;
    padding: 25px 0;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #e6e1cc;
    transition: .3s;
}

.extras:hover{
    box-shadow: 2px 3px 5px #000000;
    transform: translateY(-3px);
}

.extras h3{
    margin-top: 8px;
    font-size: 1.1rem;
}

.extras .icon{
    font-size: 2rem;
}


@media screen and (max-width: 992px) {
    .extras{
        margin: 10px;
    }
}

@media screen and (max-width: 425px) {
    .extra_section h1{
        font-size: 1.3rem;
    }

    .extras h3{
        font-size: .8rem;
    }

    .extras .icon{
        font-size: 1.5rem;
    }
}