.hero_container{
    position: relative;
}

.title{
    /* position: absolute; */
    text-align: center;
    color: palevioletred;
}

/* .image_container{
    position: absolute;
}

.image_container img{
    width: 100%;
    height: 100%;
} */